Repository HeronMkII/lib-common, pull requests merged in 2018-08, with the labels that each got.

#63 New ADC interface
  build/adc/.gitignore
  build/conversions/.gitignore
  func_tests/adc_test/.gitignore
  func_tests/adc_test/adc_test.c
  func_tests/adc_test/makefile
  func_tests/makefile
  include/adc/adc.h
  include/adc/eps.h
  include/adc/pay.h
  include/conversions/conversions.h
  include/spi/spi.h
  makefile
  src/adc/adc.c
  src/adc/makefile
  src/conversions/conversions.c
  src/conversions/makefile
Labels: adc, untested, wip

#66 PEX (Port Expander) library
  build/pex/.gitignore
  func_tests/makefile
  func_tests/pex_test/makefile
  func_tests/pex_test/pex_test.c
  include/pex/eps.h
  include/pex/pay.h
  include/pex/pex.h
  makefile
  src/pex/makefile
  src/pex/pex.c
Labels: pex, untested

#67 DAC (Digital to Analog Converter) library
  build/dac/.gitignore
  func_tests/dac_test/.gitignore
  func_tests/dac_test/dac_test.c
  func_tests/dac_test/makefile
  func_tests/makefile
  include/dac/dac.h
  include/dac/pay.h
  makefile
  src/dac/dac.c
  src/dac/makefile
Labels: dac

#68 Added Windows support to test harness
  bin/harness.py
Labels: testing
